<div class="container">

  <div class="quote">
    <p><%= @question %></p>
    <p>-You</p>
  </div>

  <div class="quote answer">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>

  <%= link_to 'Ask a new question', ask_path  %>

</div>
