// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.quote {
  border-left: 5px solid rgba(0,0,0,0.1);
  padding-left: 10px;
}

.answer {
  background-color: #FFFEE4;
}

.answer .sentence {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: skyblue;
}

.author {
  font-style: italic;
}

